# Dependencies
node_modules/

# Playwright reports
playwright-report/
test-results/
blob-report/

# Evidences
evidences/

# Playwright
playwright-report/
test-results/
blob-report/

# Screenshots, videos and traces
*.png
*.jpg
*.jpeg
*.webm
*.zip

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/


# Evidences
evidences/*
!evidences/.gitkeep
!evidences/screenshots/
evidences/screenshots/*
!evidences/screenshots/.gitkeep